#paragraph{
    background-color: aquamarine;
    font-size: large;
    font-family: sans-serif;

}
#paragraph::selection{
    background-color: blue;
    color: red;
}
#paragraph::first-letter{
    background-color:white;
    font-size: 30px;
    color:brown;
}
h3{
    background-color: rgb(203, 207, 219);
    color: red;
}
table{
    width: 50%;
    border: 5px solid #787878;
    font-size: small;
}
th{
    background-color: bisque;
    font-size: large;
    font-family: sans-serif;
    padding: 10px;
    color: black;
}
tr:hover{
    background-color:grey;
    color: blue;
    padding: 3px;
}

tr:nth-child(even){
    background-color: cadetblue;
}
tr:nth-child(odd){
    background-color:coral;
}
a:link{
    color: blue;
    text-decoration: none;
}
a:hover{
    color: red;
}

*
{
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
}