#paragraph{
    background-color: aquamarine;
    font-size: large;
    font-family: sans-serif;

}
#paragraph::selection{
    background-color: blue;
    color: red;
}
#paragraph::first-letter{
    background-color:white;
    font-size: 30px;
    color:brown;
}
h3{
    background-color: rgb(203, 207, 219);
    color: red;
}
table{
    width: 50%;
    border: 5px solid #787878;
    font-size: small;
}
th{
    background-color: bisque;
    font-size: large;
    font-family: sans-serif;
    padding: 10px;
    color: black;
}
tr:hover{
    background-color:grey;
    color: blue;
    padding: 3px;
}

tr:nth-child(even){
    background-color: cadetblue;
}
tr:nth-child(odd){
    background-color:coral;
}
a:link{
    color: blue;
    text-decoration: none;
}
a:hover{
    color: red;
}


/*Registration Page*/
#sec2{
    color:rgb(255, 0, 170);
    background-image:url(assets/students.jpg);background-repeat: no-repeat;background-size: 100% 100%;
    width: 600px;
    border-radius: 30px;
    box-shadow: 10px 15px 8px red;
}
#art-h2{
    text-align: center;
    color: blue;
    text-shadow: 3px 3px 2px yellow;
    padding: 10px;

}